{
    "extends": ["xo", "prettier"],
    "env": {
      "browser": true,
      "es6": true
    },
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "singleQuote": true,
          "printWidth": 90
        }
      ]
    },
    "parser": "babel-eslint",
    "plugins": [
      "prettier"
    ]
}